workflows/n8n/agent_channel_configurator.json
{
  "name": "Channel Configurator",
  "nodes": [
    {
      "id": "fc92f1e2-0484-488b-9556-87e5418d49ca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/channel-configurator",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "48e4dc3f-1629-4c30-a4d8-bd2ee4876e58",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body?.message || $json.message || $json.body?.text || 'Hello' }}",
        "options": {
          "systemMessage": "You are an onboarding channel configuration AI. Help set up communication channels (WhatsApp, Telegram, Facebook). Validate configurations and guide through channel-specific setup requirements."
        }
      }
    },
    {
      "id": "2a26ed0f-0274-4ee2-bc21-d5b98793c2f1",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        540
      ],
      "parameters": {
        "model": "anthropic/claude-haiku-4-5",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "9a8L86PX0yHKHdfY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "d8cbe405-1cf2-4925-8c01-0feb9568c2cc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.output || $json.text || $json, model: \"anthropic/claude-haiku-4-5\", tier: 2, workspace: \"onboarding\", agent: \"channel_configurator\" }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}