workflows/n8n/agent_channel_configurator.json
{
  "name": "Channel Configurator",
  "nodes": [
    {
      "parameters": {
        "path": "chat/channel-configurator",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={ $json.message }",
        "options": {
          "systemMessage": "You are a channel configurator specialist. Configure channels. Use the available tools to complete tasks efficiently."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "name": "setup_whatsapp",
        "description": "Tool: Setup Whatsapp",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: setup_whatsapp",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "name": "setup_telegram",
        "description": "Tool: Setup Telegram",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: setup_telegram",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "name": "test_connection",
        "description": "Tool: Test Connection",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: test_connection",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        550,
        500
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_tool": [
        [
          {
            "node": "Tool: setup_whatsapp",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: setup_telegram",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: test_connection",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent"
    },
    {
      "name": "VizionAI"
    }
  ],
  "triggerCount": 1,
  "versionId": ""
}