workflows/n8n/agent_validation_tester.json
{
  "name": "Validation Tester",
  "nodes": [
    {
      "parameters": {
        "path": "chat/validation-tester",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={ $json.message }",
        "options": {
          "systemMessage": "You are a validation tester specialist. Test client setup. Use the available tools to complete tasks efficiently."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "name": "test_channels",
        "description": "Tool: Test Channels",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: test_channels",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "name": "test_workflows",
        "description": "Tool: Test Workflows",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: test_workflows",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "name": "generate_report",
        "description": "Tool: Generate Report",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": []
        },
        "options": {}
      },
      "name": "Tool: generate_report",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        550,
        500
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_tool": [
        [
          {
            "node": "Tool: test_channels",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: test_workflows",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: generate_report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent"
    },
    {
      "name": "VizionAI"
    }
  ],
  "triggerCount": 1,
  "versionId": ""
}