workflows/n8n/agent_validation_tester.json
{
  "name": "Validation Tester",
  "nodes": [
    {
      "id": "411472ca-0897-47bd-8065-303b63380f36",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/validation-tester",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "e41b459e-fe3d-4421-a41d-384802bd0d7a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body?.message || $json.message || $json.body?.text || 'Hello' }}",
        "options": {
          "systemMessage": "You are a system validation AI. Test endpoints, validate configurations, and verify integrations. Return structured pass/fail results with error details for failed checks."
        }
      }
    },
    {
      "id": "94057b66-7479-401b-81eb-baf851698816",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        540
      ],
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "9a8L86PX0yHKHdfY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "bd9f74c1-b1ef-4a2d-96b4-282ae68578dd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.output || $json.text || $json, model: \"google/gemini-2.0-flash-exp:free\", tier: 0, workspace: \"onboarding\", agent: \"validation_tester\" }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}